<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pillar.name %>
</p>

<h2>Releases:</h2>
<% @pillar.releases.each do |r| %>
	<p><strong>Project name : </strong><%= r.name %></p>
	<p><strong>Scope Id : </strong><%= r.scope_id %></p>
	<p><strong>Pillar Id : </strong><%= r.pillar.name %></p>
<% end %>


<%= link_to 'Edit', edit_pillar_path(@pillar) %> |
<%= link_to 'Back', pillars_path %>
